@font-face {
  font-family: 'Chargen';
  src: url("../fonts/Chargen.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

::selection {
  background-color: rgba(255,255,0,.4);
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  color: #fff;
  font-family: Chargen, Helvetica, Arial, sans-serif;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 50px;
  text-align: center;
  z-index: 3;
}

.content {
  min-width: 600px;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a, a:hover, a:visited {
  color: #fff;
  font-size: 20px;
}

.view {
  position: fixed;
  left: 10%;
  bottom: 0;
  text-align: left;
  z-index: 3;
}

#background {
  background-color: #121212;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#ruby, #ainstainer-logo {
  z-index:2;
}

#ruby {
  position: absolute;
  top: 15%;
  right: 20%;
  margin: 120px auto;
  width: 280px;
  height: 200px;
}

#ruby #top div, #ruby #bottom div {
  float:left;
}

#ruby .face, #ruby .faceup, #ruby .facedown {
  height: 0;
  width: 0;
  border: 50px solid transparent;
}

#ruby .face {
  margin-left: -45px;
  margin-right: -45px;
  border-top: 40px solid #c00;
  border-bottom: 0px solid transparent;
}

#ruby .faceup {
  border-top: 5px solid transparent;
  border-bottom: 40px solid #900;
}

#ruby .facedown {
  margin: 7px 0;
  padding: 0;
  border-top: 140px solid #600;
}

#ruby .left { border-left:30px solid transparent; }
#ruby .right { border-right:30px solid transparent; }

#ruby .left2 {
  margin-left: 55px;
  margin-right: -45px;
  border-right: 30px solid transparent;
  -webkit-transform: skew(30deg,0deg);
  -moz-transform: skew(30deg,0deg);
  -o-transform: skew(30deg,0deg);
  transform: skew(30deg,0deg);
}

#ruby .right2 {
  margin-left: -45px;
  border-left: 30px solid transparent;
  -webkit-transform: skew(-30deg,0deg);
  -moz-transform: skew(-30deg,0deg);
  -o-transform: skew(-30deg,0deg);
  transform: skew(-30deg,0deg);
}

#ainstainer-logo {
  overflow: hidden;
  position: absolute;
  top: 15%;
  left: 20%;
  margin: 60px auto;
  width: 300px;
  height: 300px;
  background: #eee;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  border-radius: 150px;
  border: 1px solid #707070;
}

#ainstainer-logo:after {
  opacity: 0.6;
  content: '';
  width: 400px;
  height: 200px;
  position: absolute;
  top: 120px;
  margin: 0 auto;
  -moz-border-radius: 200px / 100px;
  -webkit-border-radius: 200px / 100px;
  border-radius: 200px / 100px;
  background: -moz-radial-gradient(rgba(255,255,255,0) 20%, rgba(255,255,255,1) 100%);
  background: -webkit-radial-gradient(rgba(255,255,255,0) 20%, rgba(255,255,255,1) 100%);
  background: -o-radial-gradient(rgba(255,255,255,0) 20%, rgba(255,255,255,1) 100%);
  background: -ms-radial-gradient(rgba(255,255,255,0) 20%, rgba(255,255,255,1) 100%);
  background: radial-gradient(rgba(255,255,255,0) 20%, rgba(255,255,255,1) 100%);
}

#ainstainer-logo div {
  position:absolute;
}

#ainstainer-logo #inner-circle {
  width: 240px;
  height: 240px;
  top: 30px;
  left: 30px;
  border: 1px solid #707070;
  -moz-border-radius: 143px;
  -webkit-border-radius: 143px;
  border-radius: 143px;
  background: -moz-radial-gradient( #22c8fa, #0e50e4 );
  background-image: -webkit-radial-gradient( #22c8fa, #0e50e4 );
  background: -o-radial-gradient( #22c8fa, #0e50e4 );
  background: -ms-radial-gradient( #22c8fa, #0e50e4 );
  background: radial-gradient( #22c8fa, #0e50e4 );
  -moz-box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
}

#ainstainer-logo #letter-ellipse, #ainstainer-logo #letter-ellipse-stroke {
  width: 115px;
  height: 260px;
  background: transparent;
  -moz-border-radius: 50%/40% 40% 60% 60%;
  -webkit-border-radius: 50%/40% 40% 60% 60%;
  border-radius: 50%/40% 40% 60% 60%;
}

#ainstainer-logo #letter-ellipse {
  top:20px;
  left:90px;
  -moz-box-shadow: 0 0 0px 20px #EEE inset;
  -webkit-box-shadow: 0 0 0px 20px #EEE inset;
  box-shadow: 0 0 0px 20px #EEE inset;
  -moz-transform: rotate(31deg);
  -ms-transform: rotate(31deg);
  -webkit-transform: rotate(31deg);
  -o-transform: rotate(31deg);
  transform: rotate(31deg);
}

#ainstainer-logo #letter-ellipse-stroke {
  top: 6px;
  left: 83px;
  -moz-box-shadow: 20px 0px 0px 5px #EEE inset;
  -webkit-box-shadow: 20px 0px 0px 5px #EEE inset;
  box-shadow: 20px 0px 0px 5px #EEE inset;
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transform: rotate(40deg);
}

#ainstainer-logo #letter-ellipse-round {
  width: 65px;
  height: 38px;
  top: 170px;
  left: 165px;
  background: transparent;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 25px -3px 0px 5px #EEE inset;
  -webkit-box-shadow: 25px -3px 0px 5px #EEE inset;
  box-shadow: 25px -3px 0px 5px #EEE inset;
  -moz-transform: rotate(130deg);
  -ms-transform: rotate(130deg);
  -webkit-transform: rotate(130deg);
  -o-transform: rotate(130deg);
  transform: rotate(130deg);
}

#ainstainer-logo #letter-stick {
  width: 30px;
  height: 240px;
  top: 45px;
  left: 200px;
  background: #eee;
  -moz-transform: rotate(17deg);
  -ms-transform: rotate(17deg);
  -webkit-transform: rotate(17deg);
  -o-transform: rotate(17deg);
  transform: rotate(17deg);
}

#ainstainer-logo #letter-stick-round {
  width: 59px;
  height: 38px;
  top: 230px;
  left: 183px;
  background: transparent;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 30px -3px 0px 5px #EEE inset;
  -webkit-box-shadow: 30px -3px 0px 5px #EEE inset;
  box-shadow: 30px -3px 0px 5px #EEE inset;
  -moz-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  -webkit-transform: rotate(-50deg);
  -o-transform: rotate(-50deg);
  transform: rotate(-50deg);
}

@media screen and (max-width: 980px) {
  #ruby {
    right: 0;
  }

  #ainstainer-logo {
    left: 0;
  }
}

@media screen and (max-width: 610px) {
  .content {
    position: absolute;
  }
}
